<div class="col-sm-12">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget blog-author no-margin-top">
		<h3 class="sidebar-heading">About Me</h3>
		<a href="about-me.html" class="blog-author-img bg-image lazy" data-src="assets/img/blog/small/avatar/avatar-1.jpg"></a>
		<div class="blog-author-info">
			<h4 class="blog-author-name"><a href="about-me.html">Lucas Sanski</a></h4>
			<div class="blog-author-sub">Artist / Designer / Developer</div>
			<p class="blog-author-text">Debitis sociis phasellus feugiat luctus diam. Vitae aenean odio ligula interdum suscipit antimoa arte lacus ante.</p>
		</div>
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->

<div class="col-sm-12">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-social">
		<h3 class="sidebar-heading">Follow</h3>
		<!-- Begin social buttons -->
		<div class="social-buttons">
			<ul>
				<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-facebook" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-twitter" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-google" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="https://www.behance.com/themetorium" class="btn btn-social-min btn-behance" title="Follow me on Behance" target="_blank"><i class="fab fa-behance"></i></a></li>
				<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-dribbble" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
				<!-- <li><a href="https://instagram.com" class="btn btn-social-min btn-instagram" title="Follow me on instagram" target="_blank"><i class="fab fa-instagram"></i></a></li> -->
			</ul>
		</div>
		<!-- End social buttons -->
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->

<div class="col-sm-12">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-search">
		<h3 class="sidebar-heading">Search</h3>
		<form id="blog-search-form" class="form-btn-inside" method="get" action="search-results.html">
			<div class="form-group no-margin">
				<input type="text" class="form-control" id="blog-search" name="search" placeholder="Search...">
				<button type="submit"><i class="fas fa-search"></i></button>
			</div>
		</form>
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->

<div class="col-md-12 col-sm-6">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-categories">
		<h3 class="sidebar-heading">Categories</h3>
		<ul class="list-unstyled">
			<li><a href="">Web Design <span title="Entries in this category">26</span></a></li>
			<li><a href="">Coding <span title="Entries in this category">54</span></a></li>
			<li><a href="">Resources <span title="Entries in this category">127</span></a></li>
			<li><a href="">Tutorials <span title="Entries in this category">19</span></a></li>
			<li><a href="">Freebies <span title="Entries in this category">67</span></a></li>
			<li><a href="">Inspiration <span title="Entries in this category">67</span></a></li>
		</ul>
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->

<div class="col-md-12 col-sm-6">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-post-list">
		<h3 class="sidebar-heading">Random Posts</h3>
		<ul class="list-unstyled">
			<li>
				<a href="" class="post-thumb bg-image lazy" data-src="assets/img/blog/small/small-1.jpg"></a>
				<div class="post-data">
					<h5 class="post-title"><a href="blog-single.html">5 User Onboarding Techniques for Mobile Apps</a></h5>
					<!-- <span class="author">By: <a href="">Lucas Sanski</a></span> -->
					<span class="date">Nov 14, 2017</span>
				</div>
			</li>
			<li>
				<a href="" class="post-thumb bg-image lazy" data-src="assets/img/blog/small/small-2.jpg"></a>
				<div class="post-data">
					<h5 class="post-title"><a href="blog-single.html">Premium Web Tools &amp; Services Recommended By Professionals</a></h5>
					<!-- <span class="author">By: <a href="">John Doe</a></span> -->
					<span class="date">Nov 12, 2017</span>
				</div>
			</li>
			<li>
				<a href="" class="post-thumb bg-image lazy" data-src="assets/img/blog/small/small-3.jpg"></a>
				<div class="post-data">
					<h5 class="post-title"><a href="blog-single.html">21 tips for Creating a Great Personal Online Portfolio</a></h5>
					<!-- <span class="author">By: <a href="">Henry Harrison</a></span> -->
					<span class="date">April 17, 2017</span>
				</div>
			</li>
		</ul>
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->

<div class="col-md-12 col-sm-6">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-tags">
		<h3 class="sidebar-heading">Popular Tags</h3>
		<ul>
			<li><a href="">#portfolio</a></li>
			<li><a href="">#multipurpose</a></li>
			<li><a href="">#minimal</a></li>
			<li><a href="">#agency</a></li>
			<li><a href="">#creatives</a></li>
			<li><a href="">#freelancers</a></li>
			<li><a href="">#design</a></li>
			<li><a href="">#bootstrap</a></li>
			<li><a href="">#responsive</a></li>
			<li><a href="">#simple</a></li>
			<li><a href="">#creative</a></li>
			<li><a href="">#retina</a></li>
			<li><a href="">#blog</a></li>
			<li><a href="">#wordpress</a></li>
			<li><a href="">#black &amp; white</a></li>
		</ul>
	</div>
	<!-- End sidebar widget -->
</div> <!-- /.col -->

<div class="col-md-12 col-sm-6">

	<!-- Begin sidebar widget -->
	<div class="sidebar-widget sidebar-meta">
		<h3 class="sidebar-heading">Meta</h3>
		<ul class="list-unstyled">
			<li><a href="">Log In</a></li>
			<li><a href="">Entries RSS</a></li>
			<li><a href="">Comments RSS</a></li>
			<li><a href="https://wordpress.org/">WordPress.org</a></li>
		</ul>
	</div>
	<!-- End sidebar widget -->

</div> <!-- /.col -->
